@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<a id="newMovie" class="btn btn-primary" href="~/Movies/New">Add Movie</a>

@{
    if (Model.Count() > 0)
    {
        <table class="table table-bordered table-hover" style="margin-top:8px;">
            <thead>
                <tr>
                    <th><span style="font-size: 16px;">Movie</span></th>
                    <th><span style="font-size: 16px;">Genre</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <th><text style="font-weight:normal">@Html.ActionLink(movie.Name, "Edit", "Movies", new {id = movie.Id }, null)</text></th>
                        <th><text style="font-weight:normal">@movie.Genre.Name</text></th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>We don't have any movies yet.</p>
    }
}
