<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>

  <add key="FacebookAppId" value="521337104907319"/>
  <add key="FacebookAppSecret" value="7c9ffca0616d956e256f590570c3c9bb"/>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DefaultUser" value="User1" />
  <!--testing-->
</appSettings>